<%- include("templates/head", {TituloWeb: "Inicio"}) %>
<div class="container-fluid">
   <center>
      <h1><%= titulo %></h1>
   </center>
   <form action="#" class="form-group">
      <input type="file" id="">
   </form>
</div>

<%- include("templates/footer") %>
   
